{% from 'macros.html' import render_page_data  %}


<ul class="nav flex-column">
    <li style="margin-left: 1%;">
        <div class="btn-group" role="group" aria-label="Basic example" id="second-group">
            {% if admin_second !=[] %}
                {% for second_category in admin_second %}
                    <button style="height: 3.2em;font-size: 1em" name="show-app-Bysecond" type="button" class="btn btn-secondary" first-category-id="{{ first_category_id }}" second-category-id="{{ second_category.id }}" system="{{ system }}">{{ second_category.name }}</button>
                {% endfor %}
            {% endif %}
        </div>
    </li>
    <li style="margin-left: 0%;">
        <HR align=center width=98% color=#987cb9 SIZE=1>
        <div style="margin-top: 0rem;margin-right: 1%" id="main-changeBy-ajax">
            <table id="second-table" filter="null" second_id="{{ second_category_id }}" border="0" width="100%" rules=none style="background-color: #FFFFFF;table-layout:fixed">
                {% if first_apps !=[] %}
                    {% if 0 < first_apps|length < 4 %}
                        <tr style="width: 100%">
                            {% for app in first_apps %}
                                <div style="padding: 0.1em;padding-right: 0.6em;width: 31.6%;display: inline-block"  first-category-id="{{ first_category_id }}" second-category-id="{{ second_category_id }}" app-id="{{ app.id }}"><div style=""><a href="{{ url_for('main.show_app',app_id=app.id) }}" style="color: #777777;text-decoration: none;"><div style="background-color: #e3e5e8;width: 99%;margin-left: 0.4em;padding: 0.1em;padding-right: 0.1em" onmouseover="this.className='goodchange'" onmouseout="this.className='good'"><h5 style="font-size: 1.28em;margin-top: 0.2em;margin-left: auto">【{{ app.name }}】</h5><div style="margin-left: 0.52em;display: inline-block;margin-bottom: 0.4em;"><img style="margin-top: 0.1em" class="codeicon codeicon-36" height="32em" width="32em" src="{{ app.icon_url }}"></div><strong style="width: 77%;float: right;font-size: 0.83em;margin-right: 1.14%;margin-left: 0em">{{ app.simple_say }}</strong></div></a></div></div>
                            {% endfor %}
                        </tr>
                    {% endif %}
                    {% if 3 < first_apps|length < 7 %}
                        <tr style="width: 100%">
                            {% for app in first_apps[:3] %}
                                <div style="padding: 0.1em;padding-right: 0.6em;width: 31.6%;display: inline-block"  first-category-id="{{ first_category_id }}" second-category-id="{{ second_category_id }}" app-id="{{ app.id }}"><div style=""><a href="{{ url_for('main.show_app',app_id=app.id) }}" style="color: #777777;text-decoration: none;"><div style="background-color: #e3e5e8;width: 99%;margin-left: 0.4em;padding: 0.1em;padding-right: 0.1em" onmouseover="this.className='goodchange'" onmouseout="this.className='good'"><h5 style="font-size: 1.28em;margin-top: 0.2em;margin-left: auto">【{{ app.name }}】</h5><div style="margin-left: 0.52em;display: inline-block;margin-bottom: 0.4em;"><img style="margin-top: 0.1em" class="codeicon codeicon-36" height="32em" width="32em" src="{{ app.icon_url }}"></div><strong style="width: 77%;float: right;font-size: 0.83em;margin-right: 1.14%;margin-left: 0em">{{ app.simple_say }}</strong></div></a></div></div>
                            {% endfor %}
                        </tr>
                        <tr style="width: 100%">
                            {% for app in first_apps[3:] %}
                                <div style="padding: 0.1em;padding-right: 0.6em;width: 31.6%;display: inline-block"  first-category-id="{{ first_category_id }}" second-category-id="{{ second_category_id }}" app-id="{{ app.id }}"><div style=""><a href="{{ url_for('main.show_app',app_id=app.id) }}" style="color: #777777;text-decoration: none;"><div style="background-color: #e3e5e8;width: 99%;margin-left: 0.4em;padding: 0.1em;padding-right: 0.1em" onmouseover="this.className='goodchange'" onmouseout="this.className='good'"><h5 style="font-size: 1.28em;margin-top: 0.2em;margin-left: auto">【{{ app.name }}】</h5><div style="margin-left: 0.52em;display: inline-block;margin-bottom: 0.4em;"><img style="margin-top: 0.1em" class="codeicon codeicon-36" height="32em" width="32em" src="{{ app.icon_url }}"></div><strong style="width: 77%;float: right;font-size: 0.83em;margin-right: 1.14%;margin-left: 0em">{{ app.simple_say }}</strong></div></a></div></div>
                               {% endfor %}
                        </tr>
                    {% endif %}
                    {% if 6 < first_apps|length < 10 %}
                        <tr style="width: 100%">
                            {% for app in first_apps[:3] %}
                                <div style="padding: 0.1em;padding-right: 0.6em;width: 31.6%;display: inline-block"  first-category-id="{{ first_category_id }}" second-category-id="{{ second_category_id }}" app-id="{{ app.id }}"><div style=""><a href="{{ url_for('main.show_app',app_id=app.id) }}" style="color: #777777;text-decoration: none;"><div style="background-color: #e3e5e8;width: 99%;margin-left: 0.4em;padding: 0.1em;padding-right: 0.1em" onmouseover="this.className='goodchange'" onmouseout="this.className='good'"><h5 style="font-size: 1.28em;margin-top: 0.2em;margin-left: auto">【{{ app.name }}】</h5><div style="margin-left: 0.52em;display: inline-block;margin-bottom: 0.4em;"><img style="margin-top: 0.1em" class="codeicon codeicon-36" height="32em" width="32em" src="{{ app.icon_url }}"></div><strong style="width: 77%;float: right;font-size: 0.83em;margin-right: 1.14%;margin-left: 0em">{{ app.simple_say }}</strong></div></a></div></div>
                               {% endfor %}
                        </tr>
                        <tr style="width: 100%">
                            {% for app in first_apps[3:6] %}
                                <div style="padding: 0.1em;padding-right: 0.6em;width: 31.6%;display: inline-block"  first-category-id="{{ first_category_id }}" second-category-id="{{ second_category_id }}" app-id="{{ app.id }}"><div style=""><a href="{{ url_for('main.show_app',app_id=app.id) }}" style="color: #777777;text-decoration: none;"><div style="background-color: #e3e5e8;width: 99%;margin-left: 0.4em;padding: 0.1em;padding-right: 0.1em" onmouseover="this.className='goodchange'" onmouseout="this.className='good'"><h5 style="font-size: 1.28em;margin-top: 0.2em;margin-left: auto">【{{ app.name }}】</h5><div style="margin-left: 0.52em;display: inline-block;margin-bottom: 0.4em;"><img style="margin-top: 0.1em" class="codeicon codeicon-36" height="32em" width="32em" src="{{ app.icon_url }}"></div><strong style="width: 77%;float: right;font-size: 0.83em;margin-right: 1.14%;margin-left: 0em">{{ app.simple_say }}</strong></div></a></div></div>
                            {% endfor %}
                        </tr>
                         <tr style="width: 100%">
                            {% for app in first_apps[6:] %}
                                <div style="padding: 0.1em;padding-right: 0.6em;width: 31.6%;display: inline-block"  first-category-id="{{ first_category_id }}" second-category-id="{{ second_category_id }}" app-id="{{ app.id }}"><div style=""><a href="{{ url_for('main.show_app',app_id=app.id) }}" style="color: #777777;text-decoration: none;"><div style="background-color: #e3e5e8;width: 99%;margin-left: 0.4em;padding: 0.1em;padding-right: 0.1em" onmouseover="this.className='goodchange'" onmouseout="this.className='good'"><h5 style="font-size: 1.28em;margin-top: 0.2em;margin-left: auto">【{{ app.name }}】</h5><div style="margin-left: 0.52em;display: inline-block;margin-bottom: 0.4em;"><img style="margin-top: 0.1em" class="codeicon codeicon-36" height="32em" width="32em" src="{{ app.icon_url }}"></div><strong style="width: 77%;float: right;font-size: 0.83em;margin-right: 1.14%;margin-left: 0em">{{ app.simple_say }}</strong></div></a></div></div>
                             {% endfor %}
                        </tr>
                     {% endif %}
                      {% if 9 < first_apps|length < 13 %}
                        <tr style="width: 100%">
                            {% for app in first_apps[:3] %}
                                <div style="padding: 0.1em;padding-right: 0.6em;width: 31.6%;display: inline-block"  first-category-id="{{ first_category_id }}" second-category-id="{{ second_category_id }}" app-id="{{ app.id }}"><div style=""><a href="{{ url_for('main.show_app',app_id=app.id) }}" style="color: #777777;text-decoration: none;"><div style="background-color: #e3e5e8;width: 99%;margin-left: 0.4em;padding: 0.1em;padding-right: 0.1em" onmouseover="this.className='goodchange'" onmouseout="this.className='good'"><h5 style="font-size: 1.28em;margin-top: 0.2em;margin-left: auto">【{{ app.name }}】</h5><div style="margin-left: 0.52em;display: inline-block;margin-bottom: 0.4em;"><img style="margin-top: 0.1em" class="codeicon codeicon-36" height="32em" width="32em" src="{{ app.icon_url }}"></div><strong style="width: 77%;float: right;font-size: 0.83em;margin-right: 1.14%;margin-left: 0em">{{ app.simple_say }}</strong></div></a></div></div>
                            {% endfor %}
                        </tr>
                        <tr style="width: 100%">
                            {% for app in first_apps[3:6] %}
                               <div style="padding: 0.1em;padding-right: 0.6em;width: 31.6%;display: inline-block"  first-category-id="{{ first_category_id }}" second-category-id="{{ second_category_id }}" app-id="{{ app.id }}"><div style=""><a href="{{ url_for('main.show_app',app_id=app.id) }}" style="color: #777777;text-decoration: none;"><div style="background-color: #e3e5e8;width: 99%;margin-left: 0.4em;padding: 0.1em;padding-right: 0.1em" onmouseover="this.className='goodchange'" onmouseout="this.className='good'"><h5 style="font-size: 1.28em;margin-top: 0.2em;margin-left: auto">【{{ app.name }}】</h5><div style="margin-left: 0.52em;display: inline-block;margin-bottom: 0.4em;"><img style="margin-top: 0.1em" class="codeicon codeicon-36" height="32em" width="32em" src="{{ app.icon_url }}"></div><strong style="width: 77%;float: right;font-size: 0.83em;margin-right: 1.14%;margin-left: 0em">{{ app.simple_say }}</strong></div></a></div></div>
                            {% endfor %}
                        </tr>
                         <tr style="width: 100%">
                            {% for app in first_apps[6:9] %}
                                <div style="padding: 0.1em;padding-right: 0.6em;width: 31.6%;display: inline-block"  first-category-id="{{ first_category_id }}" second-category-id="{{ second_category_id }}" app-id="{{ app.id }}"><div style=""><a href="{{ url_for('main.show_app',app_id=app.id) }}" style="color: #777777;text-decoration: none;"><div style="background-color: #e3e5e8;width: 99%;margin-left: 0.4em;padding: 0.1em;padding-right: 0.1em" onmouseover="this.className='goodchange'" onmouseout="this.className='good'"><h5 style="font-size: 1.28em;margin-top: 0.2em;margin-left: auto">【{{ app.name }}】</h5><div style="margin-left: 0.52em;display: inline-block;margin-bottom: 0.4em;"><img style="margin-top: 0.1em" class="codeicon codeicon-36" height="32em" width="32em" src="{{ app.icon_url }}"></div><strong style="width: 77%;float: right;font-size: 0.83em;margin-right: 1.14%;margin-left: 0em">{{ app.simple_say }}</strong></div></a></div></div>
                            {% endfor %}
                        </tr>
                        <tr style="width: 100%">
                            {% for app in first_apps[9:] %}
                                <div style="padding: 0.1em;padding-right: 0.6em;width: 31.6%;display: inline-block"  first-category-id="{{ first_category_id }}" second-category-id="{{ second_category_id }}" app-id="{{ app.id }}"><div style=""><a href="{{ url_for('main.show_app',app_id=app.id) }}" style="color: #777777;text-decoration: none;"><div style="background-color: #e3e5e8;width: 99%;margin-left: 0.4em;padding: 0.1em;padding-right: 0.1em" onmouseover="this.className='goodchange'" onmouseout="this.className='good'"><h5 style="font-size: 1.28em;margin-top: 0.2em;margin-left: auto">【{{ app.name }}】</h5><div style="margin-left: 0.52em;display: inline-block;margin-bottom: 0.4em;"><img style="margin-top: 0.1em" class="codeicon codeicon-36" height="32em" width="32em" src="{{ app.icon_url }}"></div><strong style="width: 77%;float: right;font-size: 0.83em;margin-right: 1.14%;margin-left: 0em">{{ app.simple_say }}</strong></div></a></div></div>
                            {% endfor %}
                        </tr>
                      {% endif %}
                {% else %}
                    <div style="font-size: 1.5em;">该分类暂无软件，敬请期待</div>
                {% endif %}

            </table>
        {% if pagination != [] %}
            <div style="position: absolute;top:43em;left: 49%" >{{ render_page_data(pagination,'main.apps_BySecond',data={'first_id':first_category_id,'second_id':second_category_id,'system':system}) }}</div>
        {% endif %}
        </div>
    </li>

</ul>

<script>

$("button[name='show-app-Bysecond']").click(function () {
        if($('#second-table').attr('second_id') == $(this).attr('second-category-id')){
            return
        }
        $.ajax({
          type: 'GET',
          data: {'second_id':$(this).attr('second-category-id'),
                  'system':$(this).attr('system'),
                  'first_id':$(this).attr('first-category-id') },
          url: second_apps_template,
          success: function (data) {
                $('#main-changeBy-ajax').html(data)
          }
        })
    });

    </script>
